body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);

  background-color: var(--clr-background);
  color: var(--clr-text);

  line-height: 1.2;

  color-scheme: light dark;

  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1,
h2,
h3 {
  line-height: 1.1;
}

p {
  margin: 0 0 1rem;

  &:last-child {
    // margin: 0;
  }
}

a {
  color: var(--link-color);

  &[target="_blank"] {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23376af6' d='M948.053 133.973l-456.533 457.387c-14.507 14.507-38.4 14.507-53.76 0-14.507-14.507-14.507-38.4 0-53.76l456.533-456.533h-98.133c-21.333 0-37.547-17.067-37.547-37.547s17.067-37.547 37.547-37.547h189.44c21.333 0 37.547 17.067 37.547 37.547v189.44c0 21.333-17.067 37.547-37.547 37.547s-37.547-17.067-37.547-37.547v-98.987zM853.333 506.88c0-21.333 17.067-37.547 37.547-37.547s37.547 17.067 37.547 37.547v352.427c0 87.893-71.68 159.573-159.573 159.573h-609.28c-87.893 0-159.573-71.68-159.573-159.573v-609.28c0-87.893 71.68-159.573 159.573-159.573h352.427c21.333 0 37.547 17.067 37.547 37.547s-17.067 37.547-37.547 37.547h-352.427c-46.080 0-83.627 37.547-83.627 83.627v609.28c0 46.080 37.547 83.627 83.627 83.627h609.28c46.080 0 83.627-37.547 83.627-83.627v-351.573z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content: '';
      display: inline-block;
      height: 1rem;
      margin-left: 0.25rem;
      margin-bottom: -2px;
      width: 1rem;
    }
  }
}
