.output-container {
  padding: 1rem;

  code {
    font-size: 0.8rem;
  }
}

.hidden {
  display: none;
}

.showHideToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  text-align: center;

  &:active {
    color: var(--link-color);
  }

  &.open {
    .caret {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .caret {
    display: flex;
    fill: var(--link-color);
    margin-left: 0.25rem;
  }
}


textarea {
  &.output {
    font-family: monospace;
    height: auto;
    padding: 1rem;
    width: 100%;
  }
}