.output-container {
  padding: 1rem;

  code {
    font-size: 0.8rem;
  }
}

.hidden {
  display: none;
}

.showHideToggle {
  display: block;
  margin-top: 1rem;
  text-align: center;

  &:active {
    color: var(--link-color);
  }
}


textarea {
  &.output {
    font-family: monospace;
    height: auto;
    padding: 1rem;
    width: 100%;
  }
}