@use "../abstracts/mixins" as *;

.navbar {
  align-items: center;
  background-color: var(--navbar-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  @include mq(md) {
    padding: 1rem 2rem;
  }
}

.navbar-brand {
  font-size: 1.2rem;
  font-weight: bold;

  @include mq(md) {
    font-size: 1.5rem;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.navbar-links {
  display: flex;
  gap: 0.5rem;

  @include mq(md) {
    gap: 2rem;
  }
}

.nav-link {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  transition: background-color 0.2s;

  @include mq(md) {
    padding: 0.5rem 1rem;
  }

  &:hover {
    background-color: var(--navbar-link-bg-hover, var(--clr-primary));
    color: #000;
  }

  &.active {
    border-color: var(--navbar-link-bg-hover, hotpink);

    &:hover {
      background-color: transparent;
      color: #ffffff;
      cursor: default;
    }
  }
}